@{
    ViewData["Title"] = "Đặt hàng";
    var culture = System.Globalization.CultureInfo.InvariantCulture;
    var gioHang = ViewBag.GioHang as List<WebBanGiay.Models.GioHangModel>;
}

<style>
    .boxed-btn {
        background-color: #F28123;
        color: #fff;
        width: 250px;
        height: 45px;
        border-radius: 15px;
        border: none;
        font-size: 18px;
    }

        .boxed-btn:hover {
            background-color: #051922;
            color: #F28123;
        }
</style>

<!-- breadcrumb-section -->

<div class="breadcrumb-section breadcrumb-bg" style="padding: 50px 50px;">
</div>
<!-- end breadcrumb section -->
<!-- cart section -->
<div class="cart-section mt-150 mb-150">
    <div class="container" style="width: 80%;">
        <h2>Thông tin đơn hàng đặt mua</h2>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table" style="width: 90% !important;">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th class="product-total">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in gioHang)
                            {
                                var sanPham = item.SAN_PHAM;
                                var hinhAnhDauTien = sanPham.HINH_ANH.FirstOrDefault()?.TEN_HINH_ANH ?? "default.jpg";
                                <tr class="table-body-row">
                                    <td class="product-image">
                                        <img src="~/media/SanPham/@hinhAnhDauTien" alt="Ảnh sản phẩm">
                                    </td>
                                    <td class="product-name">@sanPham.TEN_SAN_PHAM</td>
                                    <td class="product-price">@item.GIA_BAN.ToString("N0") đ</td>
                                    <td class="product-quantity">@item.SO_LUONG_GH</td>
                                    <td class="product-total">@item.THANH_TIEN.ToString("N0") đ</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-accordion-wrap">
                    <div class="accordion" id="accordionExample">
                        <div class="card single-accordion">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Thông tin khách hàng
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="billing-address-form">
                                        <form method="post" asp-action="DatHang" asp-controller="DonHang">
                                            <p><input type="text" name="HoVaTen" placeholder="Họ và tên" required></p>
                                            <p><input type="text" name="diaChiGiaoHang" placeholder="Địa chỉ" required></p>
                                            <p><input type="tel" name="SoDienThoai" placeholder="Số điện thoại" required></p>
                                            <p><textarea name="GhiChu" id="GhiChu" cols="30" rows="5" placeholder="Ghi chú"></textarea></p>

                                            <input type="radio" name="hinhThucThanhToan" value="COD" required>
                                            <label>Thanh toán khi nhận hàng</label>
                                            <br />

                                            <input type="radio" name="hinhThucThanhToan" value="VNPay" required>
                                            <label>Thanh toán VNPay</label>

                                            <hr />
                                            <button type="submit" class="boxed-btn">Đặt hàng</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="order-details-wrap">
                    <table class="order-details">
                        <thead>
                            <tr>
                                <th>Đơn hàng</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody class="checkout-details">
                            <tr>
                                <td>Tổng tiền</td>
                                <td>@ViewBag.TongTien.ToString("N0") đ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
