@model WebBanGiay.ViewModels.MauSanPhamViewModel

@{
    ViewData["Title"] = "Quản lý màu Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="container">
    <div class="page-inner">
        <div class="page-header"></div>
        <div class="row">
            <div class="col-md-12" style="margin: 50px 0px 50px 0px;">
                <div class="card">
                    <div class="card-header" style="background-color: #eb1515; border-radius: 5px 5px 0px 0px;">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Màu</h4>
                            <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addRowModal">
                                <i class="fa fa-plus"></i> Thêm màu
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Add Modal -->
                        <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header border-0" style="background-color: #eb1515; border-radius: 5px 5px 0px 0px;">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold"> Thêm</span>
                                            <span class="fw-light"> màu</span>
                                        </h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-action="ThemMau" method="post" id="createForm">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="mau.TEN_MAU" class="control-label">Màu</label>
                                                <input asp-for="mau.TEN_MAU" class="form-control" />
                                                <span asp-validation-for="mau.TEN_MAU" class="text-danger"></span>
                                            </div>
                                            <div class="modal-footer border-0">
                                                <button type="submit" class="btn btn-primary">Thêm</button>
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Table -->
                        <div class="table-responsive">
                            <table id="add-row" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên màu</th>
                                        <th style="width: 10%">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DanhSachMau)
                                    {
                                        <tr>
                                            <td>@item.ID_MAU</td>
                                            <td>@item.TEN_MAU</td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a type="button" class="btn btn-link btn-primary btn-lg" asp-controller="MauAdmin" asp-action="SuaMau" asp-route-id="@item.ID_MAU">
                                                        <i class="fa fa-edit"></i> Sửa
                                                    </a>
                                                    <button type="button" class="btn btn-link btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRowModal" onclick="setDeleteId(@item.ID_MAU)">
                                                        <i class="bi bi-trash-fill"></i> Xóa
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header border-0" style="background-color: #eb1515; border-radius: 5px 5px 0px 0px;">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold"> Xóa</span>
                                            <span class="fw-light"> loại sản phẩm</span>
                                        </h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-action="XoaMau" method="post">
                                            <input type="hidden" id="deleteId" name="id" />
                                            <p>Bạn có chắc chắn muốn xóa màu này?</p>
                                            <div class="modal-footer border-0">
                                                <button type="submit" class="btn btn-primary">Xóa</button>
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            function setDeleteId(id) {
                                $('#deleteId').val(id);
                            }

                            function editLoaiSanPham(id) {
                                $.ajax({
                                    url: '@Url.Action("GetLoaiSanPham", "LoaiAdmin")/' + id,
                                    type: 'GET',
                                    success: function (data) {
                                        $('#editId').val(data.id);
                                        $('#editTEN_LOAI_SAN_PHAM').val(data.tenLoaiSanPham);
                                        $('#editRowModal').modal('show');
                                    },
                                    error: function () {
                                        alert('Không thể lấy dữ liệu loại sản phẩm.');
                                    }
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
